<div class="mat-elevation-z8 demo-table">
  <app-filter></app-filter>
<table mat-table [dataSource]="dataSource" class="demo-table" >
  <!-- Position Column -->
  <ng-container matColumnDef="position">
    <th mat-header-cell *matHeaderCellDef>No.</th>
    <td mat-cell *matCellDef="let element">{{element.position}}</td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Name</th>
    <td mat-cell *matCellDef="let element">{{element.name}}</td>
  </ng-container>

  <!-- Status Column -->
  <ng-container matColumnDef="status">
    <th mat-header-cell *matHeaderCellDef>Status</th>
    <td mat-cell *matCellDef="let element">{{element.status}}</td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="weight">
    <th mat-header-cell *matHeaderCellDef>Weight</th>
    <td mat-cell *matCellDef="let element">{{element.weight}}</td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="symbol">
    <th mat-header-cell *matHeaderCellDef>Symbol</th>
    <td mat-cell *matCellDef="let element">{{element.symbol}}</td>
  </ng-container>

  <ng-container matColumnDef="ownerStatus">
    <th mat-header-cell *matHeaderCellDef>Owner Status</th>
    <td mat-cell *matCellDef="let element">{{element.ownerStatus}}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr
    mat-row
    (click)="clickedRows.add(row)"
    [class.demo-row-is-clicked]="clickedRows.has(row)"
    *matRowDef="let row; columns: displayedColumns;"
  ></tr>
</table>
<app-pagination class="mat-paginator-container" [dataSource] = 'dataSource' ></app-pagination>
  <div>
    <h3>
      Click Log
    </h3>
  </div>

  <div *ngIf="!clickedRows.size">
    Clicked rows will be logged here
  </div>

  <ul>
    <li *ngFor="let clickedRow of clickedRows">
      Clicked on {{clickedRow.name}}
    </li>
  </ul>
</div>

